<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <%- include("./partials/head.html") %>

</head>

<body>

    <%- include("./partials/header.html") %>

    <div style="padding-left: 30px;padding-right: 30px; padding-top: 30px;">
        <input type="search" id="searchbar" class="searchbargray-vertical" autocomplete="off" onkeyup="searchFilter()" type="text"\n name="search" placeholder="Busca alguna especialidad">
    </div>

    <div class="card-grid-vertical" id="containerEspecial">
        <% Object.values(objQuery).forEach(function(registro){ %>
            <a href="/listaDoctores?especialidad=<%= registro.especialidad %>">
                <div class="card-style-vertical">
                    <div class="card-content">
                        <p class="textEspecialidad"><%= registro.especialidad %></p>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>

</body>

<script type="text/javascript">
    var idleTime = 0;
    $(document).ready(function () {
        console.log("prueba")
        // Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

        // Zero the idle timer on mouse movement.
        $(this).mousemove(function (e) {
            idleTime = 0;
        });
        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });

    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 1) { // 20 minutes
            window.location.replace("/publicidad");
        }
    }
</script>

<script>

    var masterData ='<%= JSON.stringify(objQuery) %>'
    masterData = masterData.replaceAll('&#34;','"')
    masterData = JSON.parse(masterData)

    function searchFilter(){
        let text = document.getElementById('searchbar').value
        if(text) {
        const newData = masterData.filter((item) => {
            const itemData = item.especialidad ? item.especialidad.toUpperCase() : ''.toUpperCase();
            const textData = text.toUpperCase();
            return itemData.indexOf(textData) > -1;
        });
        document.getElementById('containerEspecial').innerHTML =''
        for (Element in newData){
            document.getElementById('containerEspecial').innerHTML += '<a href="/listaDoctores?especialidad='+newData[Element].especialidad+'"><div class="card-style-vertical"><div class="card-content"><p class="textEspecialidad">'+newData[Element].especialidad+'</p></div></div></a>';
            }

        } else {
        document.getElementById('containerEspecial').innerHTML =''
        for (Element in masterData){
            document.getElementById('containerEspecial').innerHTML += '<a href="/listaDoctores?especialidad='+masterData[Element].especialidad+'"><div class="card-style-vertical"><div class="card-content"><p class="textEspecialidad">'+masterData[Element].especialidad+'</p></div></div></a>';
            }
        }
    }
</script>

</html>