<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <%- include("./partials/head.html") %>

</head>

<body>

    <%- include("./partials/header.html") %>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Algología">
                <img src="/images/Especialidades/Algologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Anestesiología">
                <img src="/images/Especialidades/Anestesiologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Angiología y Cirugía Vascular">
                <img src="/images/Especialidades/Angiologia-y-Cirugia-Vascular.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Audiología y Foniatría">
                <img src="/images/Especialidades/Audiologia-y-Foniatria.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cardiología Pediátrica">
                <img src="/images/Especialidades/Cardiologia-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cardiología">
                <img src="/images/Especialidades/Cardiologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugia Cardiotorácica Pediatrica">
                <img src="/images/Especialidades/Cirugia-Cardiotoracica-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugía Cardiotorácica">
                <img src="/images/Especialidades/Cirugia-Cardiotoracica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugía de Tórax">
                <img src="/images/Especialidades/Cirugia-de-Torax.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugía General">
                <img src="/images/Especialidades/Cirugia-General.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugía Maxilofacial N. M.">
                <img src="/images/Especialidades/Cirugia-Maxilofacial.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugía Neurológica">
                <img src="/images/Especialidades/Cirugia-Neurologica.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugía Neurológica">
                <img src="/images/Especialidades/Cirugia-Oncologica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugía Pediátrica">
                <img src="/images/Especialidades/Cirugia-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Cirugía Plástica">
                <img src="/images/Especialidades/Cirugia-Plastica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Coloproctología">
                <img src="/images/Especialidades/Coloproctologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Dermatología Pediátrica">
                <img src="/images/Especialidades/Dermatologia-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Dermatología">
                <img src="/images/Especialidades/Dermatologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Dermatopatología">
                <img src="/images/Especialidades/Dermopatologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Endocrinología Pediátrica">
                <img src="/images/Especialidades/Endocrinologia-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Endocrinología">
                <img src="/images/Especialidades/Endocrinologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Endodoncia N. M.">
                <img src="/images/Especialidades/Endodoncia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Gastroenterología Pediátrica">
                <img src="/images/Especialidades/Gastroenterologia-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Gastroenterología">
                <img src="/images/Especialidades/Gastroenterologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Geriatría">
                <img src="/images/Especialidades/Geriatria.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Ginecología y Obstetricia">
                <img src="/images/Especialidades/Ginecologia-y-Obstetricia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Hematología">
                <img src="/images/Especialidades/Hematologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Infectología">
                <img src="/images/Especialidades/Infectologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Inmunología y Alergia">
                <img src="/images/Especialidades/Inmunologia-y-Alergia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Medicina Crítica">
                <img src="/images/Especialidades/Medicina-Critica.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Medicina de Rehabilitación">
                <img src="/images/Especialidades/Medicina-de-Rehabilitacion.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Medicina de Urgencias">
                <img src="/images/Especialidades/Medicina-de-Urgencias.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Medicina del Deporte">
                <img src="/images/Especialidades/Medicina-del-Deporte.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=edicina del Trabajo">
                <img src="/images/Especialidades/Medicina-del-Trabajo.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Medicina General">
                <img src="/images/Especialidades/Medicina-General.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Medicina Interna">
                <img src="/images/Especialidades/Medicina-Interna.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Nefrología">
                <img src="/images/Especialidades/Nefrologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Neonatología">
                <img src="/images/Especialidades/Neonatologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Neumología Pediátrica">
                <img src="/images/Especialidades/Neumologia-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Neumología">
                <img src="/images/Especialidades/Neumologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Neurología Pediátrica">
                <img src="/images/Especialidades/Neurologia-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Neurología">
                <img src="/images/Especialidades/Neurologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Nutriología N. M.">
                <img src="/images/Especialidades/Nutriologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Odontología Pediátrica N. M.">
                <img src="/images/Especialidades/Odontologia-Pediatrica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Odontología N. M.">
                <img src="/images/Especialidades/Odontologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Oftalmología">
                <img src="/images/Especialidades/Oftalmologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Oncología Médica">
                <img src="/images/Especialidades/Oncologia-Medica.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Ortodoncia N. M.">
                <img src="/images/Especialidades/Ortodoncia.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Ortopedia y Traumatología">
                <img src="/images/Especialidades/Ortopedia-y-Traumatologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Otorrinolaringología">
                <img src="/images/Especialidades/Otorrinolaringologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Pediatría">
                <img src="/images/Especialidades/Pediatria.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Psicología N. M.">
                <img src="/images/Especialidades/Psicologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Psiquiatría">
                <img src="/images/Especialidades/Psiquiatria.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Radiología e Imagen">
                <img src="/images/Especialidades/Radiologia-e-Imagen.png" style="width: 100%;" alt="image">
            </a>
        </div>
    </div>

    <div class="containerEspecialidad">
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Radioterapia">
                <img src="/images/Especialidades/Radioterapia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Reumatología">
                <img src="/images/Especialidades/Reumatologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Urología">
                <img src="/images/Especialidades/Urologia.png" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            <a href="/listaDoctores?especialidad=Todos">
                <img src="/images/Especialidades/Todos.gif" style="width: 100%;" alt="image">
            </a>
        </div>
        <div class="itemEspecialidad">
            
        </div>
        <div class="itemEspecialidad">
            
        </div>
    </div>

</body>

<% if(typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title:'<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=>{
            window.location='<%= ruta %>'
        })
    </script>
<% } %>

</html>