<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        <%= title %>
    </title>

    <%- include("./partials/head.html") %>

</head>

<body id="NewBody">

    <div style="width: 100%;">
        <a style="width: 100%;" href="/home">
            <img id="imageSourceAnuncios" src="/images/promocional1.png" style="width: 100%;" alt="image">
        </a>
    </div>

    <script>
        let images = ['/images/promocional1.png', '/images/promocional2.png', 
                    '/images/promocional3.png', '/images/promocional4.png', 
                    '/images/promocional5.png'];

        let index = 0;
        const imgElement = document.querySelector('#imageSourceAnuncios');

        function change() {
        imgElement.src = images[Math.floor(Math.random() * images.length)];
        index > 3 ? index = 0 : index++;
        }

        window.onload = function () {
            setInterval(change, 10000);
            console.log("change")
        };
    </script>

</body>

<% if(typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title:'<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=>{
            window.location='<%= ruta %>'
        })
    </script>
<% } %>

</html>