body{
  background-image: url('');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Champagne & Limousines';
  src: url('Champagne & Limousines.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('Champagne & Limousines.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
  font-family: 'Champagne & Limousines Bold';
  src: url('Champagne & Limousines Bold.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('Champagne & Limousines Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

#NewBody{
  background-image: url('');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.customDiv{
  background: #373B44;
  background: -webkit-linear-gradient(to right, #8b8680, #373B44);
  background: linear-gradient(to right, #8b8680, #373B44);
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active .step-counter {
  font-weight: bold;
  background-color: #C49927;
}

.stepper-item.completed .step-counter {
  background-color: #4bb543;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.box{
  display: block;
  width: 100%;
}

.inputStyle{
  width: 90%;
  margin: 10px;
}

/*Header styles*/

.containerHeader {
  background: #FFFFFF;
  margin: 0;
}

.itemEspecialidad{
  max-width: 16%;
  padding: 10px;
}

.containerEspecialidad{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100px;
  height: 150px;
  width: 100%;
}

.containerEspecialidadList{
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 50px;
  width: 100%;
}

.itemEspecialidadList{
  max-width: 100%;
  padding: 10px;
}

.item {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  font-family: sans-serif;
  padding: 30px;
}
.item:hover{
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.item:nth-of-type(n+4) {
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.barSubTitle{
  width: 100%; 
  display: flex;
  position: relative;
  font-size: 50px; 
  color: white;
  justify-content: center;
  background-color: #FFFFFF;
}

.list, .ticket__form button {
  text-align: center;
  font-family: "POPPINS SEMI BOLD",serif;
}

.list__search {
  margin: 20px 0;
  border: 2px solid #093c8a;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 300px;
  font-size: 18px;
  color: #212121;
  padding: 10px;
  text-align: center;
}

@media all and (max-width: 800px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
 
  .logo {
    -webkit-box-ordinal-group: 1;
            order: 0;
    text-align: center;
    max-width: 100px;
    margin: auto auto 20px;
  }
 
  .item {
    text-align: center;
    border-bottom: 1px solid #111;
  }
}






.styled-table {
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #4682B4;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #4682B4;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #4682B4;
}

select {
  border: 0;background-color: transparent;
}





.card-style {
  background-color: #0496C7;
  height: 110px;
  width: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  position: relative;
  justify-content: center;
  align-items: center;
  background: linear-gradient(70deg, #29AAE1 60%, #0071BB); 
}

.card-content {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0;
  padding-bottom:0 ;
  width: 280px;
  position: absolute;
  top: 57%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.card-grid-2 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.card-style-2 {
  background-color: #0071BB;
  height: 200px;
  width: 170px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  opacity: .4;
}

.card-content-2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.searchbargray {
  width: 100%; 
  padding: 10px; 
  background-color: black; 
  opacity: 0.5; 
  border-radius: 15px;
  color: white;
}

::placeholder {
  color:white;
  opacity: 1; /* Firefox */
}

.textDoctors{
  text-align: center; 
  color: aliceblue;
  font-size: 12px;
  font-family:'Champagne & Limousines';
}

.textEspecialidad{
  text-align: center; 
  color: aliceblue;
  font-size: 15px;
  font-family:'Champagne & Limousines Bold';
}

.gray-button {
  background: linear-gradient(70deg, #c2c2c2 70%, #646464); 
  border-radius: 10%;
  border-width: 1px;
  padding: 1%;
  width: 130px;
  height: 60px;
}

.card-content-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family:'Champagne & Limousines Bold';
  font-size: 12px;
  color: black;
}

.blue-button {
  background: linear-gradient(70deg, #29AAE1 70%, #0071BB); 
  border-radius: 10%;
  border-width: 1px;
  padding: 1%;
  width: 130px;
  height: 60px;
}

.card-content-button-blue {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family:'Champagne & Limousines Bold';
  font-size: 12px;
  color: white;
}

.yellow-button {
  background: linear-gradient(70deg, #f39f18 70%, #ffbb00 ); 
  border-radius: 10%;
  border-width: 1px;
  padding: 1%;
  width: 130px;
  height: 60px;
}

.red-button {
  background: linear-gradient(70deg, #fb3123 30%, #781f19); 
  border-radius: 10%;
  border-width: 1px;
  padding: 1%;
  width: 130px;
  height: 60px;
}





.card-grid-vertical {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.card-style-vertical {
  background-color: #0496C7;
  height: 96px;
  width: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  position: relative;
  justify-content: center;
  align-items: center;
  background: linear-gradient(70deg, #29AAE1 60%, #0071BB); 
}




.card-style-vertical-2{
  background-color: white;
  height: 385px;
  width: 225px;
  box-shadow: 7px 5px 7px 5px rgba(169,169,169,0.75);
  border-radius: 10px;
  border-color: #666666;
  position: relative;
  justify-content: center;
  align-items: center;
  opacity: .9;
}

.card-content-vertical-2 {
  margin-top: 10px;
  margin-bottom: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.imageVerticalCard{
  height: 182px;
  width: 195px;
  border-radius: 10px;
}




.nameDoctor-vertical{
  text-align: center; 
  color: #000000;
  font-size: 10px;
  font-family:'Champagne & Limousines Bold';
}

.especialidadDoctor-vertical{
  text-align: center; 
  color: #666666;
  font-size: 10px;
  font-family:'Champagne & Limousines';
  margin-bottom: 0;
}

.consultorio-extension-vertical{
  text-align: center; 
  color: black;
  font-size: 10px;
  font-family:'Champagne & Limousines';
  text-align: left;
}

.consultorio-extension-bold-vertical{
  text-align: center; 
  color: black;
  font-size: 10px;
  font-family:'Champagne & Limousines Bold';
}

.buttonVerMas{
  text-align: center; 
  color: #3876EC;
  font-size: 10px;
  font-family:'Champagne & Limousines Bold';
  border-radius: 5px;
  text-align: center;
  border-color: white;
  background-color: #E4E4E4;
  margin-left: 70px;
  margin-right: 70px;
}



.contentModal{
  width: 60%;
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
}

.nombreModal{
  text-align: left; 
  color: black;
  font-size: 30px;
  font-family:'Champagne & Limousines Bold';
}

.especialidadModal{
  text-align: left; 
  color: black;
  font-size: 20px;
  font-family:'Champagne & Limousines';
}

.consultorio-extension{
  text-align: left; 
  color: black;
  font-size: 25px;
  font-family:'Champagne & Limousines';
}

.consultorio-extension-bold{
  text-align: left; 
  color: black;
  font-size: 25px;
  font-family:'Champagne & Limousines Bold';
}





.contentQR{
  width: 39%;
  display: inline-block;
  position: absolute;
}

.imageQR{
  border-radius: 5px;
  width: 100%;
}


.searchbargray-vertical {
  width: 100%; 
  padding: 10px; 
  background-color: #666666; 
  opacity: 0.5; 
  border-radius: 15px;
  color: white;
}